* {
    margin:0;
    padding:0;

}

body {

    font-family: sans-serif;
    background: url("images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-size: cover;
}

.card {

    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    position: absolute;
    border: 1px solid grey;
    background-color: white;
    box-shadow: 5px 5px 0.1px blueviolet, -5px -5px 0.1px black;


}

.side-img img{
    width: 600px;
    height: 700px;
    float:left;
}

.container {
    float: left;
    width: 300px;
    margin: 80px 150px;
    margin-bottom: 10px;
    padding: 0px;
}

.head-1 {

    width: 80px;
    font-family: cursive;
    margin-bottom: 50px;
    padding: 3px 0;
    border-bottom: 5px solid magenta;

}

.bl {
    display: block;
}

.lab {
    font-family: cursive;
    padding: 5px 0;
    color: grey;


}

.cont {
    width:100%;
}

.cont input[type="text"] {

    background: transparent;
    width:90%;
    border: none;
    border: 2px solid grey;
    color: grey;
    font-size: 16px;
    margin-bottom: 5px;
    border-radius: 25px;
    padding: 10px;

}


.rem {
    width:100%;
    margin: 10px 0;
    font-family: cursive;
    font-size: 14px;
    color: grey;


}

.log-but {
    width: 100%;
}

.log-but input[type="button"] {
    
    background-color: transparent;
    width:100%;
    border: none;
    border: 5px solid magenta;
    color: magenta;
    font-family: cursive;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 25px;
    padding: 3px;

}


.log-but input[type="button"]:hover {
    background-color: magenta;
    color: white;

}

.opt, a{

    width: 100%;
    font-family: cursive;
    color: grey;
    font-size: 16px;
    margin: 5px 0;

}

#op-li a{
    
    padding-left: 2px;
    text-decoration: underline;
    color:magenta;
    
}


.soc-m {
    width: 80%;
    height: 88px;
    margin-top: 60px;
    padding: 30px;
}

.soc-m p {

    padding: 10px;
    font-size: 18px;
    color: grey;
    font-weight: bolder;
      
}


.so {
    width: 100%; 
    height: 60px;
    padding: 10px;
}


 .so-mo img {

    width: 50px;
    float: left;
    margin: 10px;
    
}

.so-mo img:hover {
    background-color:  magenta;
    border-radius: 50%;
}